@model Portfolio.Models.PortContactForm

@{
    ViewBag.Title = "Thank You!";
}
<style>body {background-color: lavender;}</style>
@*<h2>Thank You!</h2>*@
<img src="../../Content/Thank%20You%20Page.jpg" alt="" />
@*<div class="ThankYouPic">
    <img src ="Content/thankyou.png"
</div>*@

