@model Portfolio.Models.PortContactForm

@{
    ViewBag.Title = "About Me";
}

&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
&nbsp
&nbsp
<body>

<div class="background">
  <div class="transbox">
<div class="AboutPage">
<h2 style ="text-align:center">About Me</h2>
<style>body {background-image:url('image.../../Content/about%20me%20pictures.jpg" alt="" />;}</style>
<h2 style ="color:darkviolet; font-family:'Comic Sans MS', cursive; font-size:30px">Education</h2>

    <h3>SeedPaths</h3>  
  
        <p>Denver, Colorado</p>	         
             <p>08/2014 - 10/2014</p>
     
    <p>Fundamental skills for software development, coding and professional development</p>
<p>Scrum Master Certification</p>

    <h3> Metropolitan State College</h3>
    
        <p>Denver, Colorado</p>
        <p> 09/2009 - 05/2011</p>
        
        <p>B.S., Bachelor of Science in Human Development</p>
<p>Minor in Sociology</p>

<h3>Front Range Community College</h3>

    <p> Westminster, Colorado</p>
    <p> 08/2006 - 07/2009</p>


<p>A.A., Associate of Arts </p>

<h2 style ="color:darkviolet; font-family:'Comic Sans MS', cursive; font-size:30px">Work Experience</h2>

<h3>Assistant Bakery Manager</h3>
<h3>King Soopers</h3>

    <p>Boulder, Colorado</p>
    <p>03/2011 - 12/2013</p>


<p>Ordered products and supplies on a complex computer system multiple times daily</p>
<p>Supervised eight employees and provided training to all new hires</p>
<p>Managed employee schedule for entire bakery department </p>


<h3>Cake Decorator</h3>
<h3>King Soopers</h3>

    <p>Boulder, Colorado</p>
    <p>09/2007 - 03/20111</p>

<p>Designed and decorated extremely detailed cakes, completing up to 30 orders daily </p>

<h3>Graphic Designer</h3>
<h3>Fast Tracks Buildings</h3>

    <p>Littleton, Colorado</p>
    <p>03/2006 - 08/2007</p>


<p>Paid internship
Created company literature using Adobe Programs and Photoshop
</p>
    </div>
        </div>
</div>

</body>
&nbsp
&nbsp
&nbsp


   

