@model Portfolio.Models.PortContactForm

@{
    ViewBag.Title = "About Me";
}

<h1> Morgan Whitney Bludorn</h1>

<h2>Education</h2>

    <h3>SeedPaths</h3>  
<ul>   
        <li>Denver, Colorado</li>	         
             <li>08/2014 - 10/2014</li>
     </ul>
    <p>Fundamental skills for software development, coding
and professional development
Scrum Master Certification</p>

    <h3> Metropolitan State College</h3>
    <ul>
        <li>Denver, Colorado</li>
        <li> 09/2009 - 05/2011</li>
        </ul>
        <p>B.S., Bachelor of Science in Human Development,
Minor in Sociology</p>

<h3>Front Range Community College</h3>
<ul>
    <li> Westminster, Colorado</li>
    <li> 08/2006 - 07/2009</li>

</ul>
<p>A.A., Associate of Arts </p>

<h2>Work Experience</h2>

<h3>Assistant Bakery Manager</h3>
<h3>King Soopers</h3>
<ul>
    <li>Boulder, Colorado</li>
    <li>03/2011 - 12/2013</li>

</ul>
<p>Ordered products and supplies on a complex computer system multiple times daily 
Supervised eight employees and provided training to all new hires
Managed employee schedule for entire bakery department 
</p>

<h3>Cake Decorator</h3>
<h3>King Soopers</h3>
<ul>
    <li>Boulder, Colorado</li>
    <li>09/2007 - 03/20111</li>
</ul>
<p>Designed and decorated extremely detailed cakes, completing up to 30 orders daily </p>

<h3>Graphic Designer</h3>
<h3>Fast Tracks Buildings</h3>
<ul>
    <li>Littleton, Colorado</li>
    <li>03/2006 - 08/2007</li>

</ul>
<p>Paid internship
Created company literature using Adobe Programs and Photoshop
</p>


   

