@model Portfolio.Models.PortContactForm

@{
    ViewBag.Title = "Index";
}

<h2>Home Page</h2>
<div class ="Container">
<div class="BigImage">
    <img src ="http://www.freeartwallpapers.com/wp-content/uploads/2014/07/Cool-Rainbow-Color-Wallpaper1.jpg" width="100%" />

</div>
 
<div class ="AboutMe">
    
    <h1> About Me</h1>
    <ul>
        <li>Education</li>
        <li>Work Experience</li>
    </ul>
</div>

<div class ="MyWork">
    <h1> My Work </h1>
    <ul>
        <li> In Class Work </li>
    </ul>
</div>

<div class ="Contacts">
    <h1> Contacts </h1>
    <ul>
        <li> Contacts </li>
    </ul>
</div>


    </div>
