@{
    ViewBag.Title = " ";
}

<html>
    <style>body {background-color: lavender;}</style>
<title style ="text-align:center;">Guess That Number</title>
<h2 style ="text-align:center;">Guess That Number</h2>
     <div class ="BackButton">
    <a href="@Url.Action("Index", "Work")">
        << Back to Work Page
    </a>
         &nbsp &nbsp &nbsp
    </div>
    <div class ="image11">
        <img src ="http://i.imgur.com/tjX9djN.png" />
    </div>
    <div class="Guessdetails">
    <p style ="text-align:center;">The poker game was created by another student and me in C#.</p> 
         <p style ="text-align:center;">First we created a random-number generator using number between</p> 
        <p style ="text-align:center;">between 1-100. We gave the player and unlimited number of guess.The game will</p> 
        <p style ="text-align:center;">first prompt them to enter their name, then to guess a number.</p>
          <p style ="text-align:center;">Depending on the players guess, the computer will let them know if the number</p> 
        <p style ="text-align:center;">they guessed was too high or too low. Once the player guesses the correct number, the</p>
         <p style ="text-align:center;">computer will tell them how many guesses it took them.</p>
        </div>
    <div class="PlayGame">
       <a href="https://github.com/mbludorn/GuessThatNumber/raw/master/GuessThatNumber/GuessThatNumber/bin/Debug/GuessThatNumber.exe">
             <strong>Click Here To Play The Game!!!</strong>
       </a>
    </html>