@{
    ViewBag.Title = "Index";
}

<html>
    <style>body {background-color: lavender;}</style>
<title style ="text-align:center;">Poker</title>
<h2 style ="text-align:center;">Poker</h2>
     <div class ="BackButton">
    <a href="@Url.Action("Index", "Work")">
        << Back to Work Page
    </a>
         &nbsp &nbsp &nbsp
    </div>
      <div class ="image11">
        <img src ="http://i.imgur.com/2PCulh2.png" />
    </div>
    <div class="pokerdetails">
    <p style ="text-align:center;">The poker game was created by another student and me in C#.</p> 
         <p style ="text-align:center;">The game chooses five different cards from a deck of playing cards,</p> 
        <p style ="text-align:center;">then depending on the suit and number of the card the computer will tell the player</p> 
        <p style ="text-align:center;">what hand they were delt.</p>
        </div>
    <div class="PlayGame">
       <a href="https://github.com/mbludorn/PokerPlayer/raw/master/Cards/bin/Debug/Cards.exe">
             <strong>Click Here To Play The Game!!!</strong>
       </a>
    </html>
