@model Portfolio.Models.PortContactForm

@{
    ViewBag.Title = "In Class Work";
}
<style>body {background-color: lavender;}</style>
<h2 style ="color:darkviolet; text-align:center;">Work Page</h2>
<div class="githublinks">
    <h3>Follow My GitHub Link</h3>
<a href="https://github.com/mbludorn">
    <strong>mbludorn@github.com</strong>
    </a>
    </div>
&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp 


&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp  &nbsp  &nbsp  &nbsp 
<div class ="work">
    &nbsp &nbsp &nbsp
    <h1><strong>Poker</strong></h1>
    <div class ="image active">
        <img src ="http://i.imgur.com/2PCulh2.png" />
    </div>
    <div class ="image hide">
        <img src ="http://i.imgur.com/yU5zuaO.png" />
    </div>
    <div class ="image hide">
        <img src ="http://i.imgur.com/jiN5ucz.png" />
    </div>
    <div class="image-back">
        << Prev
    </div>
<div class="image-next">
    Next >>
</div>
    <div class ="gamebuttons">
<a href="@Url.Action("Index", "Poker")">
    <strong>Click Here For Poker Game Details</strong>
</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </div>
    </div>
&nbsp &nbsp &nbsp &nbsp &nbsp 


&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp  &nbsp  &nbsp  &nbsp &nbsp 
<div class="work">
    &nbsp &nbsp &nbsp
    <h1><strong>Guess That Number</strong></h1>
    <div class ="image1 active">
        <img src ="http://i.imgur.com/tjX9djN.png" />
    </div>
    <div class ="image1 hide">
        <img src ="http://i.imgur.com/FlY5yCS.png" />
    </div>
     <div class ="image1 hide">
        <img src ="http://i.imgur.com/gxsn9q5.jpg" />
    </div>
    <div class="image1-back">
        << Prev
    </div>
<div class="image1-next">
       Next >>
</div>
    <div class ="gamebuttons">
<a href="@Url.Action("Index", "GuessThatNumber")">
    <strong>Click Here For Guess That Number Game Details</strong>
</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        </div>
    </div>
&nbsp &nbsp &nbsp &nbsp &nbsp 

&nbsp &nbsp &nbsp &nbsp &nbsp 
&nbsp &nbsp &nbsp &nbsp &nbsp 
<div class="work">
    &nbsp &nbsp &nbsp
    <h1><strong>Hangman</strong></h1>
    <div class ="image2 active">
        <img src ="http://i.imgur.com/ZBclw1D.png" />
    </div>
    <div class ="image2 hide">
        <img src ="http://i.imgur.com/ZTWntX0.png" />
    </div>
    <div class ="image2 hide">
        <img src ="
            http://i.imgur.com/sSbVRC5.png" />
    </div>
    <div class="image2-back">
        << Prev
    </div>
<div class="image2-next">
      Next >>
</div>
    <div class ="gamebuttons">
<a href="@Url.Action("Index", "Hangman")">
    <strong>Click Here For Hangman Game Details</strong>
</a>
        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
       </div>
   </div>
    &nbsp &nbsp &nbsp
